* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
  }

body{
  background-image: url("./255243.jpg" );
  
}
img body{
  width: 100% ;
  height: 100%;
}
  .hero1{
      background: #444;
      height: 50px;
      z-index:1000;
      position: fixed;
      width: 100%;
  }
  .top-bar{
      padding: 50px;
  }
  .caption{
      color: white;
  }
  .top-button{
      float: right;
  }
  .top-button a{
      margin: 0 8px;
      padding: 8px 20px;
      color: #302ae6;
      text-decoration: none;
      border: none;
  }
  .login-btn{
      background: transparent ;
      color: #fff ;
  }
  .top-button a:hover{
      background: #fff;
  }
  .hero h1{
      color: #fff;
      font-size: 70px;
      font-weight: bold;
      margin-top: 12%;
      initial-letter: 3px;
      box-shadow: 8px 2px 4px rgba(44, 52, 80, 0.15);
  }
  .hero p{
      color: #fff;
  }
  .hero, .container{
      margin-top: px;
  }
  .start-btn{
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      width: 140px;
      height: 40px;
      margin-top: 50px;
      border-radius: 50px;
  }
  .home-img img{
    width: 125%;
    min-width: 350px;
    margin-top: 10px;
  }
  .infuluencres{
      padding: 30px 0;
      background: #efefef;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #565656;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e3e3e3;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 ul.todo li {
        width: 40% ;
      
        float: right;
        font-size: 14px;
        font-weight: 500;
        color: #444;
        line-height: 22px;
        background: #fff;
        border-radius: 5px;
        position: relative;
        box-shadow: 8px 2px 4px rgba(161, 161, 161, 0.466);
        margin: 0 0 10px 0;
        padding: 14px 100px 14px 14px;
        background: #444;
}

ul.todo1 li {
    width: 500px ;
    min-height: 50px ;
    right: -400px;
    top: -10px;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 8px 2px 4px rgba(44, 52, 80, 0.15);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    text-align: center;
    text-align: left;
}
b{
    text-align: center;
}
.q{
    text-align: center;
    top: 10px;
}
.l{
    text-align: center;
}
.a{
    text-align: center;
}
.r{
    color: white;
}
#myBtn{
  text-align: center;
}
.line{
    height: 50px;
    width: 100%;
    color: white;
}
.line1{
    height: 400px ;
    width: 100%;
    color: white;
}
.line2{
    height: 400px ;
    width: 100% ;
    color: white;
}
#dots{
    color: blue;
}
.nasi img{
    width: 400px;
    height: 300px;
    text-align: center;
}
.nasi h1{
    position: relative;
}
.hai{
    flex: bold;
    
}
button{
    opacity:0.5;
   
}
button:hover{
    opacity: 1;
    
}
.todo {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .s {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .q, .a, p, h1{
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  .ss{
    font-size: 70px;
    text-align: center;
    color: white;
  }
  .line2{
    width: 100%;
    height: 200px;
    color: white;
  }
  .hanif{
    width: 100%;
    height: 10000;
    background: transparent;
  }

.b, .q, .l, .a{
  color: white;
  
}
.about{
   width: 100%;
   height: 1100px;
   background: #f1f1f1;
}
.text-about{
 text-align: center;
}
.block{
  width: 100%;
  height: 2px;
  background: #444;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
.we{
  color: #fff;
  float: left;
}
.bi{
  float: right;
}
#down {
  margin-top: 100%;
  padding-bottom: 25%;
 } 
 .animated {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
} 

@-webkit-keyframes bounce {
  0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
  50% {-webkit-transform: translateY(-5px);}
} 

@keyframes bounce { 
  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
  50% {transform: translateY(-5px);}
} 

.bounce { 
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

span {
    position: relative;
    color: white;
}
.img_hacker{
  
  height: 25px;
  width: 25px;
}