* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    
  }

  .hero{
      background-image: linear-gradient(#4e58b6,#8d9fdbe2);
  }
  .top-bar{
      padding: 40px;
  }
  .caption{
      color: white;
  }
  .top-button{
      float: right;
  }
  .top-button a{
      margin: 0 8px;
      padding: 8px 20px;
      color: #302ae6;
      text-decoration: none !important;
      border: none;
  }
  .login-btn{
      background: transparent !important;
      color: #fff !important;
  }
  .top-button a:hover{
      background: #fff;
  }
  .hero h1{
      color: #fff;
      font-size: 70px;
      font-weight: bold;
      margin-top: 12%;
      initial-letter: 3px;
  }
  .hero p{
      color: #fff;
  }
  .hero, .container{
      margin-top: px;
  }
  .start-btn{
      background: transparent;
      border: 2px solid #fff;
      color: #fff;
      width: 140px;
      height: 40px;
      margin-top: 50px;
      border-radius: 50px;
  }
  .home-img img{
    width: 125%;
    min-width: 350px;
    margin-top: 10px;
  }
  .infuluencres{
      padding: 30px 0;
      background: #efefef;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #565656;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e3e3e3;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 ul.todo li {
        width: 40%;
        min-height: 50px;
        float: left;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        background: #fff;
        border-radius: 5px;
        position: relative;
        box-shadow: 8px 2px 4px rgba(44, 52, 80, 0.15);
        margin: 0 0 10px 0;
        padding: 14px 100px 14px 14px;
       
            cursor: pointer;
            transition: 0.4s;
          }
          ul.todo li:hover {
            transform: scale(0.9, 0.9);
            box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
              -5px -5px 30px 15px rgba(0,0,0,0.22);
          }


ul.todo1 li {
    width: 40%;
    min-height: 50px;
    right: -400px;
    top: -10px;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;
    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 8px 2px 4px rgba(44, 52, 80, 0.15);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
}
b{
    text-align: center;
}
.q{
    text-align: center;
    top: 10px;
}
.l{
    text-align: center;
}
.a{
    text-align: center;
}
#myBtn{
  text-align: center;
}
.line{
    height: 50px;
    width: 100%;
    color: white;
}
.line1{
    height: 400px;
    width: 100%;
    color: white;
}
.slidein {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 3;
    animation-direction: alternate;
  }
  
  @keyframes slidein {
    from {
      margin-left:100%;
      width:300%
    }
    
    to {
      margin-left:0%;
      width:100%;
    }
  }
  @media only screen and (max-width: 768px){
    .wa {
      display: block;
      width: 80%;
     
    }
    img {
      display: inherit;
      width: 60%;
    }
    ul.todo li{
       display: block;
       width: 100%;
    }
  }
  #slider-wrapper {
    width: 940px;
    height: 470px;
    margin: 50px auto;
    position: relative;
    margin-bottom: 0px;

    overflow: hidden;
  }
  
  #s1 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s2 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: -12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s3 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 12px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s4 {
    padding: 6px;
    background: #000000;
    position: absolute;
    left: 50%;
    bottom: 25px;
    margin-left: 36px;
    border-radius: 20px;
    opacity: 0.3;
    cursor: pointer;
    z-index: 999;
  }
  
  #s1:hover,
  #s2:hover,
  #s3:hover,
  #s4:hover {
    opacity: .50;
  }
  
  .inner-wrapper {
    width: 940px;
    height: 470px;
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0px;
    overflow: hidden;
  }
  
  .control {
    display: none;
  }
  
  #Slide1:checked ~ .overflow-wrapper {
    margin-left: 0%;
  }
  
  #Slide2:checked ~ .overflow-wrapper {
    margin-left: -100%;
  }
  
  #Slide3:checked ~ .overflow-wrapper {
    margin-left: -200%;
  }
  
  #Slide4:checked ~ .overflow-wrapper {
    margin-left: -300%;
  }
  
  #Slide1:checked + #s1 {
    opacity: 1;
  }
  
  #Slide2:checked + #s2 {
    opacity: 1;
  }
  
  #Slide3:checked + #s3 {
    opacity: 1;
  }
  
  #Slide4:checked + #s4 {
    opacity: 1;
  }
  
  .overflow-wrapper {
    width: 400%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: hidden;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .slide img {
    width: 25%;
    float: left;
  }
  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .wa:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  .bi:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  h1:hover {
    transform: scale(0.9, 1);
  }
  .image-area
{
	position: relative;
}


.img-wrapper h2
{
	background: tomato;
	font-family: Poppins;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	padding: 10px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: right;
	transition: 1s;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: #333;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 40px;
	transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .2s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .6s;
}

.img-wrapper:hover ul li:nth-child(3)
{
	transition-delay: .8s;
}

.img-wrapper:hover ul li:nth-child(4)
{
	transition-delay: 1s;
}

.img-wrapper ul li a
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i
{
	color: tomato;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: #fff;
	background: rgba(255,255,255,0);
}
